.section-container {
    
    display: flex;
    justify-content: center;
    
    max-width: 1600px;
    flex-wrap: wrap;
}



.section-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    
}

.section-item img {
    width: calc(150px + 10vw);
    
    object-fit: contain;
    
}