

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.gallery {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-items: center;
  
}


.gallery-row {
  display: flex;
  
  align-items: center;
  justify-content: center;
  max-width: 95vw;
  flex-wrap: wrap;
  
  
  
}

.gallery-row img {
  max-height: 95vh;
  max-width: 95vw;
  min-width: 300px;
  object-fit: contain;
}

